{% extends "base.njk" %}
{% block head %}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block after %}
<section class="after">
  <h1>Recent posts:</h1>
  <div class="recent">
    {% set atPost = 0 %}
    {% for blog in collections.blog %}
      {% if atPost < 2 %}
        <div class="snippetbox">
          <a href="{{blog.url}}" class="snippet" style="background-image: url({{blog.data.thumbnail}});">
            <div class="recentpost">
              <h2>{{blog.data.title | truncate(25) }}</h2>
              {{blog.data.content | safe | truncate(150) }}
            </div>
          </a>
        </div>
      {% endif%}
      {% set atPost = atPost + 1 %}
    {% endfor %}
  </div>
</section>
{% endblock %}


{# {% block script %}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} #}