{% extends "base.njk" %}
{% block sidebar %}
{% endblock %}
{% block script %}
<script src="/assets/js/base2.js"></script>
{% endblock %}
{% block head %}
<style>
aside {
    display: none;
}
main {
    grid-column: 1 / -1;
    padding: 30px;
}
</style>
{% endblock %}