{% extends "base.njk" %}
{% block sidebar %}
<ul>
  <li>test</li>
  <li>options</li>
  <li>another test</li>
  <li>test</li>
  <li><a href="/index/catte/">test</a></li>
</ul>
{% endblock %}
{% block script %}
<script src="/assets/js/base2.js"></script>
{% endblock %}
