<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="/assets/img/favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/landing.css' | url }}"/>
    <script>
      /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="landing">
      <main>
        <img src="/assets/img/title.svg" class="title"></img>
        {{ content | safe }}
        <a href="https://discord.com" class="bubble">
          <img src="/assets/img/discord.svg" width="30px"></img>
          <p>UK Melee discord</p>
        </a>
        <p class="fuck">or...</p>
        <a href="/" class="bubble">
          <p>Continue to the main site...</p>
        </a>
        {% block after %}
        {% endblock %}
      </main>
    </div>
    <script src="/assets/js/base.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>