{% extends "base.njk" %}
{% block sidebar %}
<ul>
  <li><a href="/links/uk/">uk sites</a></li>
  <li><a href="/links/discords/">discords</a></li>
  <li><a href="/links/external/">external</a></li>
</ul>
{% endblock %}
{% block script %}
<script src="/assets/js/base.js"></script>
{% endblock %}
