{% extends "base.njk" %}
{% block sidebar %}
<ul class="sidelist">
  {% for links in collections.links %}
    <li><a href="{{links.url}}">{{links.data.title}}</a></li>
  {% endfor %}
</ul>
{% endblock %}