{% extends "base.njk" %}
{% block sidebar %}
<ul class="sidelist">
  <a href="/ranking/uk/"><li>UK <img class="sideimg" src="/assets/img/gb.svg"></li></a>
  <a href="/ranking/scotland/"><li>Scotland <img class="sideimg" src="/assets/img/scot.svg"></li></a>
  <a href="/ranking/wales-sw/"><li>Wales & SW <img class="sideimg" src="/assets/img/wales.svg"></li></a>
</ul>
{% endblock %}