{% extends "base.njk" %}
{% block sidebar %}
<ul>
  <a href="/ranking/uk/"><li><img class="sideimg" src="/assets/img/gb.svg"> UK</li></a>
  <a href="/ranking/scotland/"><li><img class="sideimg" src="/assets/img/scot.svg"> Scotland</li></a>

</ul>
{% endblock %}