@import "normalize.css";

$borders: #555;

@keyframes backgroundScroll {
  0% {
    background-position: 0px 0px;
    filter: opacity(100%);
  }
  50% {
    background-position: 0px -234px;
    filter: opacity(50%);
  }
  100% {
    background-position: 0px -468px;
    filter: opacity(100%);
  }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes saturbate {
  0% {
    filter: saturate(2);
  }
  50% {
    filter: saturate(4);
  }
  100% {
    filter: saturate(2);
  }
}

html {
  font-family: "Open Sans", sans-serif;
  background-color: #0a0a0a;
  color: white;
  font-size: 20px;
}
html,
body {
  height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  background: url("/assets/img/bg.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
a {
  color: #ffffff;
  text-decoration: none;
}
p {
  margin: 0px;
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
table,
th,
td {
  border: 1px solid;
  border-collapse: separate;
  border-spacing: 1px;
  border-color: $borders;
  font-size: 16px;
  padding: 4px;
}
table {
  background-color: black;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
tr {
  background-color: #080808;
}
td {
  background-color: #080808;
}
article {
  margin: 8px;
}
.section {
  margin: 8px;
}
.section2 {
  margin: 8px;
  display: flex;
  flex-flow: row;
}
.section p {
  font-size: 15px;
}
.vol_on {
  background: center/contain no-repeat;
  background-image: url(../img/vol_on.svg);  
}
.vol_off {
  background: center/contain no-repeat;
  background-image: url(../img/vol_off.svg);  
}
.navbtn {
  background: #0a0a0a;
}
.para {
  font-size: 16px;
}
.linelink {
  display: block;
}
.page_container {
  scrollbar-gutter: stable both-edges;
  overflow: auto;
  margin: 0 8px;
}
.page {
  max-width: 675px;
  display: none;
  padding: 1px 10px 8px;
  margin-left: auto;
  margin-right: auto;
  background: #070707b0;
  border: 1px $borders;
  border-style: none solid solid;
  border-radius: 0% 0% 16px 16px;
  margin-bottom: 25px;
  //background: none;
}
.page p {
  margin-top: 2px;
  margin-bottom: 6px;
  line-height: normal;
}
.line {
  font-size: 26px;
  text-shadow: 3px 3px 0px black;
  padding-left: 8px;
  margin-bottom: 8px;
}
.line2 {
  font-size: 26px;
  text-shadow: 3px 3px 0px black;
  margin-bottom: 8px;
}
.centerline {
  text-align: center;
}
.date {
  font-size: 14px;
  color: #777777;
}
.prup,
.prdown,
.prline,
.prstar,
.prreturn {
  display: inline-block;
  width: 13px;
  height: 11px;
  background-image: url("/assets/img/sprites.png");
}
.prup {
  background-position: 0 0;
}
.prdown {
  background-position: -13px 0;
}
.prline {
  background-position: 13px 0;
}
.prstar {
  background-position: -13px -11px;
}
.prreturn {
  background-position: 0 -11px;
}
.linkbtn {
  width: 100px;
  height: 60px;
  background: #0a0a0a;
  color: #ffffff;
  border: 1px solid $borders;
}
.span {
  display: inline-block;
  margin: 5px 0px;
  height: 1px;
  width: 10%;
  background-color: #ffffff;
}
.navlink {
  background: #000000;
  border-radius: 8px;
  box-shadow: 1px 0px 2px #777777;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  padding: 3px 10px;
  margin: 5px;
}
.navlink:hover,
.navlink:focus {
  background: #ffffff;
  color: #000000;
}
.rainbowtit {
  grid-column: 2;
  justify-self: center;
  animation: hue 8s infinite linear;
}
.dansen {
  animation: saturbate 0.5s infinite;
}
.acid {
  animation: hue 6s infinite linear;
}
.dropdown-content {
  display: flex;

  .link__wrapper {
    display: flex;
    background: #000;
    justify-content: center;
    width: 100%;
    top: 0;
    border-bottom: 1px solid $borders;
  }
}
#vol {
  height: 30px;
  width: 30px;
  padding: 4px;
  background-origin: content-box;
  background-color: none;
  grid-column: 3;
  justify-self: center;
  align-self: center;
  border: none;
}
#vol:hover {
  padding: 3px;
}
#vol:focus {
  padding: 3px;
}
#drop {
  align-self: center;
  padding-top: 3px;
  padding-left: 80%;
}
#canvas {
  position: fixed;
  z-index: -1;
  touch-action: none;
}
#under {
  margin-bottom: 12px;
}
#home {
  display: block;
}
#github {
  display: flex;
  position: absolute;
  gap: 5px;
  bottom: 0;
  right: 22px;
  font-size: 0;
}
#github a {
  display: block;
}

#rgb {
  text-shadow: 2px 2px 0px #00ff00, 4px 4px 0px #ff0000, 6px 6px 0px #0000ff;
}
#nav {
  display: grid;
  grid-template-columns: 50px auto 50px;
  //justify-content: center;
  column-gap: 20px;
  top: 0;
  height: 50px;
  width: 100%;
  background: #0a0a0a;
  border-bottom: 1px solid $borders;
  z-index: 1;
}
#nav li,
#nav ul {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
#bar {
  height: 15px;
  padding-left: 38px;
  text-align: center;
}
#legend {
  margin-bottom: 7px;
  margin-top: 16px;
}
#legend th,
#legend td {
  width: 30px;
}
