@import "normalize.css";
$borders: #555555;
$tableborders: #3a3a3a;
$text: #fff;
$bg: #19191a;
$bg2: #0000006b;

@keyframes backgroundScroll {
  0% {
    background-position: 0px 0px;
    filter: opacity(100%);
  }
  50% {
    background-position: 0px -234px;
    filter: opacity(50%);
  }
  100% {
    background-position: 0px -468px;
    filter: opacity(100%);
  }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes saturbate {
  0% {
    filter: saturate(2);
  }
  50% {
    filter: saturate(4);
  }
  100% {
    filter: saturate(2);
  }
}

html {
  font-family: "Open Sans", sans-serif;
  color: $text;
  background-color: $bg;
  font-size: 20px;
}
html,
body {
  height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  background: url("/assets/img/bg.png");
  background-size: cover;
  background-position: center;
}
a {
  text-decoration: none;
  color: #45D6F5;
  &:hover {
    color: $text;
  }
}
p {
  margin: 0px;
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
table,
th,
td {
  border: 2px solid;
  border-collapse: collapse;
  border-color: $tableborders;
  font-size: 16px;
  padding: 4px;
}
table {
  background-color: black;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
tr {
  background-color: #080808;
}
td {
  background-color: #080808;
}
article {
  margin: 8px;
}  
.rainbowtit {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    animation: hue 8s infinite linear;
  }
#nav {
  background: #000;
  display: grid;
  grid-template-rows: 57px auto;
  grid-template-columns: 165px auto 50px;
  //justify-content: center;
  border-bottom: 1px solid $borders;
  box-shadow: 0px 1px 18px #000000;
  z-index: 1;
  .link__wrapper {
    grid-row: 1;
    grid-column: 1 / 4;
    display: none;
    flex-direction: row;
    align-items: center;
    .navlink {
      &:hover, &:focus {
        background: #333;
        border-top: 1px solid $borders;
        border-bottom: 1px solid $borders;
      }
    }
    a {
      text-align: center;
      width: 100%;
      background: #000;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      padding: 20px 0px;
    }

    // a:focus-visible {
    //   outline: 1px solid white;
    // }
  }
  .link_wrapper_active {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    a {
      border: none;
    }
  }
  .hamb{
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 3;
    justify-self: center;
    align-self: center;
    border: none;
  }
  .hamb-line {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    width: 20px;
    margin: auto;
    top: 29px;
  } /* Style span tag */
  .hamb-line::before,
  .hamb-line::after{
    //left: 2px;
    background: #fff;
    content: '';
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .hamb-line::before{
    top: 5px;
  }
  .hamb-line::after{
    top: -5px;
  }
  .side-menu {
  display: none;
  }
}
.section p {
  font-size: 15px;
}
.vol_on {
  background: center/contain no-repeat;
  background-image: url(../img/vol_on.svg);  
}
.vol_off {
  background: center/contain no-repeat;
  background-image: url(../img/vol_off.svg);  
}
.navbtn {
  background: #0a0a0a;
}
.para {
  font-size: 16px;
}
.linelink {
  display: block;
}
.page_container {
  width: 100%;
  margin: auto;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: start;
  height: 100vh;
  scrollbar-gutter: stable both-edges;
  overflow: auto;
  .sidebar {
    width: 250px;
    flex-shrink: 0;
    background: $bg2;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 15%);
    border-radius: 0% 0% 12px 12px;
  }
  .page {
    flex: 1;
    max-width: 875px;
    display: none;
    background: $bg2;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 15%);
    border: 1px solid $borders;
    border-top: none;
    border-radius: 0% 0% 10px 10px;
    padding-bottom: 12px;
  }
}

.page p {
  margin-top: 2px;
  margin-bottom: 6px;
  line-height: normal;
}
.line {
  font-size: 26px;
  text-shadow: 3px 3px 0px black;
  padding-left: 8px;
  margin-bottom: 8px;
}
.line2 {
  font-size: 26px;
  text-shadow: 3px 3px 0px black;
  margin-bottom: 8px;
}
.centerline {
  text-align: center;
}
.date {
  font-size: 14px;
  color: #777777;
}
.prup,
.prdown,
.prline,
.prstar,
.prreturn {
  display: inline-block;
  width: 13px;
  height: 11px;
  background-image: url("/assets/img/sprites.png");
}
.prup {
  background-position: 0 0;
}
.prdown {
  background-position: -13px 0;
}
.prline {
  background-position: 13px 0;
}
.prstar {
  background-position: -13px -11px;
}
.prreturn {
  background-position: 0 -11px;
}
.linkbtn {
  width: 100px;
  height: 60px;
  background: #0a0a0a;
  color: #ffffff;
  border: 1px solid $borders;
}
.span {
  display: inline-block;
  margin: 5px 0px;
  height: 1px;
  width: 10%;
  background-color: $borders;
}
.dansen {
  animation: saturbate 0.5s infinite;
}
.acid {
  animation: hue 6s infinite linear;
}
.ranklink {
  
  height: 50px;
  text-align: center;
    div {
      border: 1px solid #555;
      color: #fff;
    }
}
.btnlegend {
  width: 85px;
  color: #45dbf5;
  font-size: 14px;
  background: #0716187e;
  border-radius: 8px;
  border-top: 2px solid #329eb1;
  border-left: 2px solid #329eb1;
  border-right: 2px solid #216174;
  border-bottom: 2px solid #216174;
  &:active {
  border-top: 2px solid #216174;
  border-left: 2px solid #216174;
  border-right: 2px solid #329eb1;
  border-bottom: 2px solid #329eb1;
  }
}
.uksection, .scotsection {
  background-color: #040b27b3;
  //#0000cf27
  max-width: 450px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 2px;
  border-radius: 8px;
}
#pruk21, #pruk22, #prscot19 {
  display: flex;
  justify-content: center;
  max-width: 450px;
  margin: auto;
  // margin-top: 15px;
  // margin-bottom: 15px;
  padding-bottom: 10px;
  flex-flow: row wrap;
  gap: 10px;

  span {
    width: 100%;
    font-size: 18px;
    user-select: none;
    pointer-events: none;
    padding-left: 18px;
  }
  button:focus-visible {
    outline: auto;
  }
  .tableheader {
    width: 80%;
  }
  .tableimg {
    width: 10%;
    user-select: none;
  }
  .prbtn {
    display: block;
    text-align: center;
    border-radius: 8px;
  }
  .btnuk {
    color: #f54545;
    background: #1807077e;
    border-top: 2px solid #b13232;
    border-left: 2px solid #b13232;
    border-right: 2px solid #742121;
    border-bottom: 2px solid #742121;
    &:active {
    border-top: 2px solid #742121;
    border-left: 2px solid #742121;
    border-right: 2px solid #b13232;
    border-bottom: 2px solid #b13232;
      //box-shadow: inset 0px 0px 15px 2px rgb(48, 214, 255);
    }
  }
  .btnscot {
    color: #4a5cf8;
    background: #0708187e;
    border-top: 2px solid #323fb1;
    border-left: 2px solid #323fb1;
    border-right: 2px solid #212674;
    border-bottom: 2px solid #212674;
    &:active {
    border-top: 2px solid #212674;
    border-left: 2px solid #212674;
    border-right: 2px solid #323fb1;
    border-bottom: 2px solid #323fb1;
    }
  }
}
.tb {
  min-width: 82%;
  margin-top: 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 35px #000;
}
#uktb21, #uktb22, #sctb19 {
  display: none;
}
#vol {
  height: 30px;
  width: 30px;
  padding: 4px;
  background-origin: content-box;
  background-color: none;
  grid-row: 1;
  grid-column: 3;
  justify-self: center;
  align-self: center;
  border: none;
}
#vol:hover {
  padding: 3px;
}
#vol:focus {
  padding: 3px;
}
#drop {
  align-self: center;
  padding-top: 3px;
  padding-left: 80%;
}
#canvas {
  position: fixed;
  z-index: -1;
  touch-action: none;
}
#under {
  margin-bottom: 12px;
}
#home {
  display: block;
}
#github {
  display: flex;
  position: absolute;
  gap: 5px;
  bottom: 0;
  right: 22px;
  font-size: 0;
}
#github a {
  display: block;
}
#rgb {
  text-shadow: 2px 2px 0px #00ff00, 4px 4px 0px #ff0000, 6px 6px 0px #0000ff;
}
#nav li,
#nav ul {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
#bar {
  height: 15px;
  padding-left: 38px;
  text-align: center;
}
#legend {
  display: none;
  margin-bottom: 7px;
  margin-top: 16px;
  min-width: auto;
  
}
#legend th,
#legend td {
  width: 30px;
}
#rankscot {
  display: none;
}
@media (min-width: 900px) {
  #nav {
    .hamb {
      display: none;
    }
    .link__wrapper {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      .navlink {
        width: auto;
        padding: 16px 10px;
        border-left: 1px solid $borders;
        border-collapse: collapse;
      }
      .navlast {
        border-right: 1px solid $borders;
      }
    }
  }
}