$borders: #444;
$text: #fff;
$bg: #333;
$linkcolour: #aaa;
$headfoot: #00303fe8;
$headfoot2: #00303f59;
$button: #002431;
$button2: #004357;
$buttoncurrent: #004357;
$hfhover: #00455a48;
$tableborders: #003849;
$tablecell: #000b0f;
$tablecell2: #00090c;
$shine: #00b0e6;
$boxxy: -4px 4px #00090c8a;

@font-face {
  font-family: IBM_VGA;
  src: url(../assets/IBM_VGA.woff);
}
@keyframes backgroundScroll {
  0% {
    background-position: 0px 0px;
    filter: opacity(100%);
  }
  50% {
    background-position: 0px -234px;
    filter: opacity(50%);
  }
  100% {
    background-position: 0px -468px;
    filter: opacity(100%);
  }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes hue2 {
  from {
    filter: hue-rotate(0deg) saturate(6);
    transform: rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg) saturate(6);
    transform: rotate(360deg);
  }
}
@keyframes saturbate {
  0% {
    filter: saturate(2);
  }
  50% {
    filter: saturate(4);
  }
  100% {
    filter: saturate(2);
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}
html, body {

  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: $text;
  background-color: #000;
  font-size: 18px;
}
body {
  background: none;
  background-image: linear-gradient(45deg, #004e818e 1px,transparent 0);
  background-size: 0.5rem 0.5rem;
  overflow-y: scroll;
}
a {
  text-decoration: none;
  &:link, &:visited, &:active {
    color: $linkcolour;
  }
}
button {
  font-family : inherit;
  font-size: 1em;
}
blockquote {
  margin: 0;
  padding: 1em;
  //border-left: 10px solid #ccc;
}
.rainbow {
  animation: hue2 4s infinite linear;
}
.rainbowtit {
  width: 126px;
  margin: auto;
  //animation: hue 8s infinite linear;
}
#nav {
  background: $headfoot;
  display: grid;
  position: sticky;
  top: 0;
  grid-template-rows: 75px auto;
  // grid-template-columns: 165px auto 70px;
  grid-template-columns: 165px auto;
  //justify-content: center;
  //border-bottom: 1px solid $borders;
  //box-shadow: 0px 1px 18px #080808;
  z-index: 1;
  #navhome {
    display: flex;
  }
  .link_wrapper_active {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    a {
      border: none;
    }
  }
  .hamb {
    display: none;
  }
  .hamb-line {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    width: 23px;
    margin: auto;
    top: 48%;
  } /* Style span tag */
  .hamb-line::before,
  .hamb-line::after{
    //left: 2px;
    background: #fff;
    content: '';
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .hamb-line::before{
    top: 7px;
  }
  .hamb-line::after{
    top: -7px;
  }
  .link__wrapper {
    // grid-row: 1;
    // grid-column: 1 / 4;
    // display: none;
    // flex-direction: row;
    // align-items: center;
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    .navlink {
      width: auto;
      padding: 16px 10px;
      text-decoration: none;
      &:hover, &:focus {
        background: $hfhover;
        //border-top: 1px solid $borders;
        //border-bottom: 1px solid $borders;
      }
    }
    a {
      text-align: center;
      width: 100%;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      padding: 20px 0px;
    }
  }
}
.page-wrapper {
  background: #00141a;
  min-height: calc(100vh - 185px);
  //max-height: ;
  max-width: 1000px;
  margin: auto;
  display: grid;
  gap: 1em;
  //grid-template-areas: "sidebar main";
  //grid-template-columns: minmax(10px,0.4fr) minmax(0,4fr);
  grid-template-areas: "sidebar main";
  grid-template-columns: minmax(175px,0.5fr) minmax(0,4fr);
  main {
    display: flex;
    flex-direction: column;
    a {
      &:hover {
        color: #1dddff;
        animation: hue 2s infinite linear;
      }
    }
    h1 {
      font-size: 1.7em;
    }
    p {
      font-size: 0.9em;
    }
  }
}
.sidebar {
  border-right: 1px solid $headfoot;
  .sideimg {
    width: 20px;
  }
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }
  li {
    padding: 5px 0;
    padding-left: 10px;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $linkcolour;
    }
  }
}
#sidebar-burger .line {
  display: none;
}
.tb {
  width: 295px;
  border-collapse: collapse;
  .play {width: 48%;}
  .rank {width: 9%;}
  .move {width: 15%;}
  .char {width: 28%;}
  thead {
    width: 100%;
    height: 29px;
    border: none;
  }
  tr {
    background-color: $tableborders;
  }
  td {
    background-color: $tablecell;
    &:nth-child(4n - 3) {
      font-weight: 700;
      background-color: #00141a;
      text-shadow: #000 -1px 1px;      
      border-left: none;
    }
  }
  th, td {
    border: 1px dotted;
    border-right: none;
    border-bottom: none;
    border-color: $tableborders;
    font-size: 0.85em;
    padding: 0;
    padding-left: 4px;
  }
  th {
    border: none;
  }
  .ch {
    height: 29px;
    .chars {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      background-image: url("/assets/img/chars.png");
    }
  }
  .hm {
    td {
      background-color: #00141a;
      &:nth-child(4n - 3) {
        font-weight: 700;
        background-color: $tablecell;
        text-shadow: #000000 -1px 1px;      
        border-left: none;
      }
    }
    td:first-of-type {
      font-size: 0.63em;
    }
  }
}    

.tbwrapper {
  max-height: 800px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  .iss {
  width: 256px;
  }
  .imgsection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 295px;
    > * {
      box-shadow: $boxxy;
     }
    .imgwrapper {
      background: $tablecell;
      border: 1px solid $tableborders;
      .overlay {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        .afterwrap {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .3s ease;
          &:hover {
            background: #000000ab;
            opacity: 1;
          }
          &:hover + .afterimg {
            display: block;
            opacity: 1;
          }
        }
        .afterimg {
          position: absolute;
          color: #fff;
          pointer-events: none;
          opacity: 0;
          transition: .2s ease;
        }
      }
      #rankimg {
        display: block;
        width: 100%;
      }
      p {
        margin: 0;
        padding: 4px;
      }
      .titlep {
        background: $tableborders;
      }
    }
  }
}
.prup,
.prdown,
.prline,
.prstar,
.prreturn {
  display: inline-block;
  width: 13px;
  height: 11px;
  background-image: url("/assets/img/sprites.png");
}
.prup {
  background-position: 0 0;
}
.prdown {
  background-position: -13px 0;
}
.prline {
  background-position: 13px 0;
}
.prstar {
  background-position: -13px -11px;
}
.prreturn {
  background-position: 0 -11px;
}
.page-footer {
  display: flex;
  height: 110px;
  background: $headfoot;
  flex-shrink: 0;
  //box-shadow: 0 50vh 0 50vh $headfoot;
  font-size: 18px;
  p {
    margin: 0;
  }
  .footer {
    margin: auto;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    #ghub {
      height: 1.6em;
    }
    .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: IBM_VGA;
      font-size: 16px;
      padding: 14px;
      background: $button;
    }
  }
}
.indeximg {
  max-width: 100%;
  height: auto;
}
.rankingbtn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 0.5em;
  margin: 8px;
  .btn {
    color: #fff;
    background: $button;
    height: 3em;
    width: 4.5em;
    border: none;
    cursor: pointer;
    box-shadow: $boxxy;
    text-shadow: #000 -1px 1px;
    &:hover {
      background: $button2;
    }
  }
}
.btn.current {
  font-weight: 700;
  background-color: $buttoncurrent;
  &:hover {
    background: $buttoncurrent;
  }
}
.box {
  padding: 6px;
  background: $button;
  box-shadow: $boxxy;
  &:hover {
    box-shadow: none;
    transform: translate(-4px, 4px) ;
  }
}
.snippet {
  width: 45%;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 1.3em;
    margin: 0;
    padding: 8px;
    background: grey;
    
  }
  p {
    padding: 8px;
  }
  border:  1px solid #fff;
}
.recent {
  display: flex;
  gap: 1em;
}
.after {
  margin-top: auto;
  margin-bottom: 1em;
}

@media (max-width: 750px) {
  html {
    font-size: 15px;
  }
  body {
    background-size: 0.6rem 0.6rem;
  }
  .page-wrapper {
    grid-template-areas: "sidebar main";
    grid-template-columns: 2.5% 95% 2.5%;
    grid-template-rows: 35px auto;
    gap: 0;
    main {
      grid-row: 2;
      grid-column: 2;
    }
  }
  #nav {
    grid-template-columns: 165px auto 70px;
    .hamb {
      display: block;
      width: 100%;
      height: 100%;
      grid-row: 1;
      grid-column: 3;
      border: none;
    }
    .link__wrapper {
      grid-row: 1;
      grid-column: 1 / 4;
      display: none;
      flex-direction: row;
      align-items: center;
      .navlink {
        width: 100%;
        padding: 16px 10px;
      }
    }
    .link_wrapper_active {
      grid-row: 2;
      display: flex;
      flex-direction: column;
      a {
        border: none;
      }
    }
  }
  .sidebar {
    grid-column: 1 / 4;
    > ul {
      display: flex;
      height: 100%;
      justify-content: center;
      li {
        height: 100%;
        display: flex;
        align-items: center;
        white-space: pre;
      }
    }
    background: $headfoot2;
    #sidebar-burger {
      display: none;
    }
  }
  .sidebar-active {
    grid-template-areas: "sidebar main";
    grid-template-columns: minmax(200px,0.5fr) minmax(0,4fr);
    .sidebar > ul {
      display: block;
    }
  }
  .btn {
    font-size: 1.1em;
  }
  #f {
    display: none;
  }
  .tb {
    thead {
      height: 24px;
    }

  }
}