$borders: #444;
$text: #fff;
$bg: #333;
$headfoot: #222;
$tableborders: #3a3a3a;

@keyframes backgroundScroll {
  0% {
    background-position: 0px 0px;
    filter: opacity(100%);
  }
  50% {
    background-position: 0px -234px;
    filter: opacity(50%);
  }
  100% {
    background-position: 0px -468px;
    filter: opacity(100%);
  }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes saturbate {
  0% {
    filter: saturate(2);
  }
  50% {
    filter: saturate(4);
  }
  100% {
    filter: saturate(2);
  }
}


*, *:before, *:after {
  box-sizing: inherit;
}
html, body {

  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: $text;
  background-color: #000;;
  font-size: 20px;
}
body {
  background: none;
  background-image: linear-gradient(rgb(0, 4, 230) 1px,transparent 0),linear-gradient(90deg,rgb(0, 4, 230) 1px,transparent 0);
  background-size: 2rem 2rem;
  overflow-y: scroll;
}
main {
  flex: 1 0 auto;
}
blockquote {
  padding: 1em;
  border-left: 10px solid #ccc;
}
.rainbowtit {
  width: 126px;
  margin: auto;
  animation: hue 8s infinite linear;
}
#nav {
  background: $headfoot;
  display: grid;
  position: sticky;
  top: 0;
  grid-template-rows: 57px auto;
  grid-template-columns: 165px auto 50px;
  //justify-content: center;
  //border-bottom: 1px solid $borders;
  //box-shadow: 0px 1px 18px #080808;
  z-index: 1;
  #navhome {
    display: flex;
  }
  .link__wrapper {
    grid-row: 1;
    grid-column: 1 / 4;
    display: none;
    flex-direction: row;
    align-items: center;
    .navlink {
      text-decoration: none;
      &:hover, &:focus {
        background: #333;
        //border-top: 1px solid $borders;
        //border-bottom: 1px solid $borders;
      }
    }
    a {
      text-align: center;
      width: 100%;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      padding: 20px 0px;
    }
  }
  .link_wrapper_active {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    a {
      border: none;
    }
  }
}
.page-wrapper {
  background: #151515;
  flex: 1 0 auto;
  min-height: 55vh;
  //max-height: ;
  max-width: 1200px;
  margin: auto;
  display: grid;
  gap: 1em;
  grid-template-areas: "sidebar main";
  grid-template-columns: minmax(250px,0.5fr) minmax(0,4fr);
}
.sidebar {
  display: flex;
  flex-direction: column;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  li, details {
    padding: 5px;
    padding-left: 10px;
    &:hover {
      background: $headfoot;
    }
  }
  #uk::marker {
    content: url("/assets/img/gb.svg");
  }
  #scot::marker {
    content: url("/assets/img/scot.svg");
  }
}
.tb {
  background-color: black;
  border-collapse: collapse;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  tr {
    background-color: #080808;
  }
  td {
    background-color: #080808;
  }
  table, th, td {
    border: 2px solid;

    border-color: $tableborders;
    font-size: 16px;
    padding: 4px;
  }
}
.prup,
.prdown,
.prline,
.prstar,
.prreturn {
  display: inline-block;
  width: 13px;
  height: 11px;
  background-image: url("/assets/img/sprites.png");
}
.prup {
  background-position: 0 0;
}
.prdown {
  background-position: -13px 0;
}
.prline {
  background-position: 13px 0;
}
.prstar {
  background-position: -13px -11px;
}
.prreturn {
  background-position: 0 -11px;
}



.page-footer {
  height: 80px;
  background: $headfoot;
  flex-shrink: 0;
  box-shadow: 0 50vh 0 50vh $headfoot;
}
@media (min-width: 900px) {
  #nav {
    grid-template-columns: 165px auto;
    .hamb {
      display: none;
    }
    .link__wrapper {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      .navlink {
        width: auto;
        padding: 16px 10px;
      }
    }
  }
}