@import url('https://unpkg.com/some-nice-basic-css/global.css');

:root {
  font-size: 1.25rem;
}

td, th {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem;
}
th {
  background-color:rgba(255, 255, 255, 0.05);
}
table {
  border-collapse: collapse;
}

body {
  background: black;
  color: white;
}