/* major-mono-display-regular - latin */


@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/font/major-mono-display-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/font/major-mono-display-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/font/major-mono-display-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/major-mono-display-v5-latin-regular.svg#MajorMonoDisplay') format('svg'); /* Legacy iOS */
}
html {
	font-family: 'Major Mono Display', monospace;
	background-color: #0a0a0a;
	color: white;
	font-size: 18px;
}
html, body {
	height: 100%;
}
body {
	padding-top: 54px;
	box-sizing: border-box;
	z-index: 1;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: grey;
}

p {
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}

li a {
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

#canvas {
  position: fixed;
  z-index:-1;
  touch-action: none;
}
#info {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  padding: 8px;
  color: rgba(255,255,255,0.8);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;  
}
#under {
	margin-bottom: 12px;
	
}
.section {

	
	margin: 8px;
}

.line {
	font-size: 24px;
	text-shadow: 8px 4px 0px blue;
	text-decoration: underline;
	text-underline-offset: 0.4em;
	margin-bottom: 0.75em;
//	margin-top: 1.5em;
}
.para {
	font-size: 14px;
}
#github {
	display: flex;
	position: absolute;
	margin: 7px;

	bottom: 0;
	right: 0;
}
#github p {
	font-size: 10px;
	margin: auto 7px;
	float: left;
}
#github img {
	
}

#rgb {
	text-shadow: 2px 2px 0px #00ff00, 4px 4px 0px #ff0000, 6px 6px 0px #0000ff;
}
#nav {
	position: absolute;
	top: 0;
	left: 0;
//	display: block;
	width: 100%;
	background: #0a0a0a;
	border-bottom: 1px solid #555555;
	z-index: 2;
	
	
}
#title {
	margin-left: auto; 
	margin-right: 0;
	width: 240px;
//290 was the orig;
	height: 54px;
	padding: 4px;
	padding-top: 0px;
	background: #262626;
	border-left: 1px solid #555555;
//	border-bottom: 1px solid white;
//	box-shadow: 4px 4px #000000;
	
}
#content {

	border-left: 1px solid #555555;
	border-right: 1px solid #555555;
	overflow: hidden;
	max-width: 835px;
	height: 100%;
	
	margin-left: auto;
	margin-right: auto;
	background: #191919;
	
}