/* major-mono-display-regular - latin */
@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('assets/font/major-mono-display-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/font/major-mono-display-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/font/major-mono-display-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/font/major-mono-display-v5-latin-regular.svg#MajorMonoDisplay') format('svg'); /* Legacy iOS */
}
html {
	font-family: 'Major Mono Display', monospace;
	background-color: black;
	color: white;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: grey;
}

