@keyframes backgroundScroll {
	0% {background-position:0px 0px; filter: opacity(100%);}
	50% {background-position:0px -234px; filter: opacity(50%);}
	100% {background-position: 0px -468px; filter: opacity(100%);}
	}
@keyframes hue  {
	from {
			-webkit-filter:hue-rotate(0deg);
	}
	
	to {
			-webkit-filter:hue-rotate(360deg);
	}

}



html {
	font-family: 'Open Sans', sans-serif;
	background-color: #0a0a0a;
	color: white;
	font-size: 20px;

}
html, body {
	height: 100%;

}
body {
	background: url(../../i/bg.png);
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	padding-top: 57px;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}

img { 
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated; /* Chrome */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

p {
  margin: 0px;
	font-size: 18px;
}
table, th, td {
	border: 1px solid;
	border-collapse: separate;
	border-spacing: 1px;
	border-color: #555555;
	font-size: 16px;
	padding: 4px;
}
table {
	background-color: black;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}
tr {
	background-color: #080808;
}
td {
	background-color: #080808;
}
article {
	margin: 8px;
}


#canvas {
  position: fixed;
  z-index:-1;
  touch-action: none;
}
#info {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  padding: 8px;
  color: rgba(255,255,255,0.8);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;  
}
#under {
	margin-bottom: 12px;
	
}
.section {
	margin: 8px;
}
.section2 {
	margin: 8px;
	display: flex;
	flex-flow: row;

}
.section p {
	font-size: 15px;
}

.navbtn {
	background: #0a0a0a;
}
.para {
	font-size: 16px;
}
.linelink {
	display: block;
}
.page {
	display: none;
	max-width: 675px;
	height: calc(100% - 26px);
	padding-top: 26px;
	margin-left: auto;
	margin-right: auto;
	/*background: #070707a8;*/
	background: none;
	overflow: auto;
}
.page p {
	margin-top: 2px;
	margin-bottom: 6px;
	line-height: normal;
}
.line {
	font-size: 26px;
	text-shadow: 3px 3px 0px black;
	padding-left: 9px;
}
.line2 {
	font-size: 26px;
	text-shadow: 3px 3px 0px black;
	margin-bottom: 8px;
}
.centerline {
	text-align: center;
}
.date {
	font-size: 14px;
	color: #777777;
}
.prup, .prdown, .prline, .prstar, .prreturn {
	display: inline-block;
	width: 13px;
  height: 11px;
	background-image: url("../../i/sprites.png");
}
.prup {
	background-position:  0 0;
}
.prdown {
  background-position:  -13px 0;
}
.prline {
  background-position:  13px 0;
}
.prstar {
  background-position:  -13px -11px;
}
.prreturn {
  background-position:  0 -11px;
}
.linkbtn {
	width: 100px;
	height: 60px;
	background: #0a0a0a;
	color: #FFFFFF;
	border: 1px solid #555555;
}
.span {
	display: inline-block;
	margin: 5px 0px;
	height: 1px;
	width: 10%;
	background-color: #ffffff;
}
.navlink {
	background: #000000;
	border-radius: 8px;
	box-shadow: 1px 0px 2px #777777;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	padding: 3px 10px;
	margin: 5px;
}
.navlink:hover, .navlink:focus {
	background:#ffffff;
	color: #000000;
}
.rainbow {
	animation: hue 8s infinite linear;
	pointer-events: none;
}

.dropdown-content {
	visibility: hidden;
  display: flex;
	background: #00000060;
	justify-content: center;
  position: absolute;
	width: 100%;
	top: 0;
	padding-left: 25px;
	border-bottom: 1px solid #555555;
	transition: all 0.3s ease-out;
}
.dropdown-content:hover {
	visibility: visible;
	top: 46px;
	transition: all 0.15s ease-out;
	padding-left: 25px;
}

.dropmenu:hover ~ .dropdown-content {
	visibility: visible;
	top: 46px;
	transition: all 0.15s ease-out;
	padding-left: 25px;
}


#drop {
	align-self: center;
	padding-top: 3px;
	padding-left: 80%;
}
#home {
	display: block;
}
#github {
	display: flex;
	position: absolute;
	gap: 5px;
	bottom: 0;
	right: 5px;
	font-size: 0;
}
#github a {
	display: block;
}

#rgb {
	text-shadow: 2px 2px 0px #00ff00, 4px 4px 0px #ff0000, 6px 6px 0px #0000ff;
}
#nav {
	display: flex;
	column-gap: 20px;
	position: absolute;
	top: 0;
	height: 45px;
	width: 100%;
	background: #0a0a0a;
	border-bottom: 1px solid #555555;
	z-index: 1;
}
#title {
  display: block;
	
	width: 153px;
	height: 47px;
	margin: auto;
	padding: 4px;
	padding-top: 1px;
	margin-bottom: 1px;
	background: #000000;
	
	/*border: 1px solid #555555;*/
}



#nav li, #nav ul {
	display: flex;
	justify-content: center;
	font-size: 14px;
}
#bar {
	
	height: 15px;
	padding-left: 38px;
	text-align: center;
}
#navsecret {

}
#navsecret2 {
	position: relative;
	border: 1px solid #55555500;
	background:#ffffff00;
	color: #00000000;
	box-shadow: none;
}
#navsecret2:hover, #navsecret2:focus {
	border: 1px solid #555555;
	background:#ffffff;
	color: #000000;
}

#legend {
	margin-bottom: 7px;
	margin-top: 16px;

}
#legend th, #legend td {
	width: 30px;
}
